@import "./pages/index.scss";
@import "./pages/contacto.scss";
@import "./pages/training.scss";

// Fuentes

@font-face {
  font-family: "Segoe Script";
  src: url(/fonts/segoesc.ttf);
}

@font-face {
  font-family: "Segoe UI";
  src: url(/fonts/Segoe_UI.ttf);
}

/* RESET'S */
* {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  text-decoration: none;
}
