.form__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;

    &__title {
        font-family: 'Segoe Script';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px
    }

    &__inputNombre {
        margin-top: 4rem;
        padding: 1rem;
    }

    &__inputMail {
        margin-top: 1rem;
        padding: 1rem;
    }

    &__inputMensaje {
        margin-top: 1rem;
        padding: 1rem;
    }

    &__submit {
        margin-top: 1rem;
        padding: 1rem;
        background: #A4D0B7;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 100%;
        font-family: 'Segoe UI';
        font-weight: 600;
    }
}

.iconos {
    height: 3.5rem;
    width: 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5rem;
}

.form__right {

    display: flex;
    flex-direction: column;
    margin-right: 5rem;

    &__logos {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__texto {
            font-family: 'Segoe UI';
            font-size: 1.5rem;
        }

        &__facebook {
            display: flex;
            align-items: center;

            &__icono {
                background-image: url(../images/logos/fb.png);
            }
        }

        &__instagram {
            display: flex;
            align-items: center;

            &__icono {
                background-image: url(../images/logos/Instagram.png);
            }
        }

        &__mail {
            display: flex;
            align-items: center;

            &__icono {
                background-image: url(../images/logos/Mail.png);

            }
        }
    }
}